<h2>What's My Blog ?</h2>
  <p>このサイトはプログラミング未経験の20代後半女子が</p>
  <p>独学でプログラミングを１から勉強し、</p>
  <p>Ruby on Railsで作った簡単なブログ投稿サイトです</p>
<br>
  <p><a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>を参考にさせてもらいながら作りました</p>

<h2>How to Use</h2>
  <p>1. 新規ユーザー登録をクリックし、ユーザー名,メールアドレス,パスワードを入力してユーザー登録</p>
  <p>2. 登録したメールアドレスにメールが届くので、記載されたURLをクリックすると登録が完了</p>
  <p>3. トップページのログインをクリックし、ユーザー名とパスワードを入力するとマイページ（ブログ投稿ページ）へとびます</p>
  <p>4. Add Newをクリックし、ブログを投稿（編集をクリックすると記事の編集ができ、x　をクリックすると記事が削除できます）</p>
