<% provide(:title, 'Help') %>
  <h2>What's My Blog ?</h2>
    <div class="help">
        このサイトはプログラミング未経験の20代後半女子が<br>
	       独学でプログラミングを１から勉強し、<br>
	       Ruby on Railsで作った簡単なブログ投稿サイトです<br>
         <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>を参考にさせてもらいながら作りました
    </div>
  <h2>How to Use</h2>
    <div class="help"> 
      <p>新規ユーザー登録をクリックし、ユーザー名,メールアドレス,パスワードを入力してユーザー登録<br>
	       登録したメールアドレスにメールが届くので、記載されたURLをクリックすると登録が完了<br>
	       トップページのログインをクリックし、ユーザー名とパスワードを入力するとマイページ（ブログ投稿ページ）へとびます<br>
	       Add Newをクリックし、ブログを投稿（編集をクリックすると記事の編集ができ、x　をクリックすると記事が削除できます<br>
      </p>
    </div>
