<h1>MY BLOG</h1>
<p>
---------------------------------------------------------------------------------
</p>
<p><%= @user.name %>様、</p>

<p>
ユーザー登録ありがとうございます。
MY BLOG　へようこそ！
<br>
<br>
以下のリンクをクリックし、アカウントを有効にしてください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p>
--------------------------------------------------------------------------------
</p>
<p>MY BLOG</p>
