<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="nabar-inner">
    <div class="container">
    <%= link_to "MY BLOG", 'home', id: "logo" %>
      <div class="list-nav">
        <nav>
          <ul>
            <li><%= link_to "Sign in", static_pages_siginin_path %></li>
            <li><%= link_to "Help", static_pages_help_path %></li>
            <li><%= link_to "Home", root_path %></li>
          </ul>
          </nav>
        </div>
      </div>
    </div>
</header>
